{% extends 'base.html' %}
{% load static %}

<!-- Navbar start -->
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}
<!-- END nav -->

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}

{% block maincontent %}
<link rel="stylesheet" href="{% static 'css/productfilter.css' %}">
<script>
    {% if messages %}
        {% for message in messages %}
        Swal.fire({
            title: "{{message}}",
            icon: "{{message.tags}}",
            timer:1800,
        });
        {% endfor %}
    {% endif %}
  
  </script>
  

<section class="section product" id="section">
    <div class="container">
        <h2 style="color:black; padding-bottom:15px; font-size:28px; opacity:.8">{{ categeory.category_name }}</h2>
        <p style="padding-bottom:10px; font-size:20px;">{{ categeory.description }}</p>

        <div class="pro-filter f-right">

            <h4 style="color:red; margin-left:800px">{{ procount }} Products</h4>
        </div>
        
        <ul class="product-list">
            {% for i in product %}
            <li class="product-item">
                <div class="product-card" tabindex="0">
                    <figure class="card-banner">
                        <a href="{% url 'singleproduct' i.id %}">
                            <img src="{{ i.image1.url }}" width="312" height="350" loading="lazy" alt="{{ i.name }}" class="image-contain">
                        </a>
                        <div class="card-badge">{{ i.condtion }}</div>
                        <ul class="card-action-list">
                            <li class="card-action-item">
                                <button class="card-action-btn" aria-labelledby="card-label-1">
                                    <a href="{% url 'quickaddcart' i.id %}"><ion-icon name="cart-outline"></ion-icon></a>
                                </button>
                                <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                            </li>
                            <li class="card-action-item">
                                <button class="card-action-btn" aria-labelledby="card-label-2">
                                    <a href="{% url 'addwish' i.id %}"><ion-icon name="heart-outline"></ion-icon></a>
                                </button>
                                <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                            </li>          
                        </ul>
                    </figure>
                    <div class="card-content">
                        <div class="card-cat">
                            <a href="#" class="card-cat-link">{{ i.category }}</a>
                        </div>
                        <h3 class="h3 card-title">
                            <a href="{% url 'singleproduct' i.id %}">{{ i.name }}</a>
                        </h3>
                        <data class="card-price" value="{{ i.orginal_price }}"><i class="fa fa-rupee">&nbsp;</i>{{ i.orginal_price }}</data>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        
        <div class="pagination p8">
            <ul>
                {% if product.has_previous %}
                <li><a href="?page={{ product.previous_page_number }}">Prev</a></li>
                {% endif %}
                {% if product.has_next %}
                <li><a href="?page={{ product.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>

<!-- Footer start -->
{% include 'footer.html' %}
<!-- Footer end -->

{% endblock %}
