{% load static %}

<footer class="footer">

    <div class="footer-top section">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <h1>Green Life</h1>
            <img src="{% static 'images/plant.png' %}">
          </a>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Contact Us</p>
            </li>

            <li>
              <address class="footer-link">
                <ion-icon name="location"></ion-icon>

                <span class="footer-link-text" style="color:black">
                  365/12, Kochi main road, Kearala, India-678567
                </span>
              </address>
            </li>

            <li>
              <a href="tel:+557343673257" class="footer-link">
                <ion-icon name="call"></ion-icon>

                <span class="footer-link-text" style="color:black">+557343673257</span>
              </a>
            </li>

            <li>
              <a href="mailto:greenlife@gmail.com" class="footer-link">
                <ion-icon name="mail"></ion-icon>

                <span class="footer-link-text" style="color:black">Greenlife@gmail.com</span>
              </a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title" style="color:black">My Account</p>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text" style="color:black">My Account</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text" style="color:black">View Cart</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text" style="color:black">Wishlist</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text" style="color:black">Compare</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text" style="color:black">New Products</span>
              </a>
            </li>

          </ul>

          <div class="footer-list">

            <p class="footer-list-title">Top Searches</p>

            <table class="footer-table">
              <tbody>

                <tr class="table-row">
                  

                  <td class="table-data">Indoor plants</td>
                </tr>

                <tr class="table-row">

                  <td class="table-data">Flower seeds</td>
                </tr>

                <tr class="table-row">

                  <td class="table-data">Outdoor plants</td>
                </tr>

                <tr class="table-row">

                  <td class="table-data">Gifting plants</td>
                </tr>

                <tr class="table-row">

                  <td class="table-data">Fruit plants</td>
                </tr>

              </tbody>
            </table>

          </div>

          <div class="footer-list">

            <p class="footer-list-title">Subscribe</p>

            <p class="newsletter-text">
              Join us to receive gardening tips, offers, news & more
            </p>

            <form action="" class="newsletter-form">
              <input type="email" name="email" placeholder="Email Address" class="newsletter-input">

              <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>

          </div>

        </div>

      </div>

    </div>

    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          &copy; 2024 <a href="#" class="copyright-link">Green Life</a>. All Rights Reserved
        </p>

      </div>
    </div>

  </footer>